# The group task

- Loading packages

In [131]:
import numpy as np
from scipy.stats import norm
import pandas as pd
import matplotlib.pyplot as plt
import pyreadstat
import math

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# To display the graphs here
%matplotlib inline

- Importing the data

In [25]:
health = pd.read_sas("/Users/nathankhadaroo/Desktop/task/Group/london ward data health.sas7bdat", format='sas7bdat', encoding='latin1')
environment = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/London ward data environment.csv")
district_codes = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/LondonDistrictcodes.csv")
demo = pd.read_table("/Users/nathankhadaroo/Desktop/task/Group/London ward data demographics.dat")
socio  = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/lsd.csv")

In [63]:
district_codes.head()

               District Districtcode
0  Barking and Dagenham         00AB
1                Barnet         00AC
2                Bexley         00AD
3                 Brent         00AE
4               Bromley         00AF

In [27]:
demo.head()

,Wardname,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking
0,Hackney - Queensbridge,17.542063,8.2,44.7,38.3,11.8
1,Hammersmith & Fulham - S&s End,17.915361,8.4,30.6,39.0,11.8
2,Barking & Dagenham - River,26.851598,10.1,38.4,30.9,9.6
3,Tower Hamlets - Bethnal Green North,18.555872,7.0,49.4,38.7,15.0
4,Merton - Abbey,15.731861,8.5,26.6,38.3,12.5

In [28]:
environment.head()

  Wardcode  Population2011Census  Crimerate  Openspace
0   00ANGQ                 11201      117.7        0.0
1   00ANGA                 11518      114.0        0.3
2   00ADGN                 10800       44.2        0.7
3   00BEGH                 12321       65.3        0.7
4   00BCFZ                 12609       64.3        1.3

In [29]:
socio.head()

  Wardcode  hhSocialRented  JobSeekers  Noqual  Carsperhousehold
0   00ABFX            26.7         8.7    16.4               0.5
1   00ABFY            36.8        10.2    31.2               0.8
2   00ABFZ            29.4        10.2    28.0               0.9
3   00ABGB            20.0         8.8    29.9               1.1
4   00ABGC            37.4        10.2    28.9               0.8

In [30]:
health.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy
0,Bromley - Darwin,5110.0,63.8,81.2,82.4
1,Kensington and Chelsea - Royal Hospital,7252.0,52.3,80.5,89.6
2,Hillingdon - Harefield,7399.0,55.8,78.3,82.3
3,Hammersmith and Fulham - Palace Riverside,7483.0,40.0,80.9,89.0
4,Kensington and Chelsea - Pembridge,7659.0,40.4,82.1,85.7

In [80]:
merge1 = pd.merge(health, demo)
merge1['Population2011Census'] = merge1['Population2011Census'].astype(int)
merge1.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking
0,Bromley - Darwin,5110,63.8,81.2,82.4,18.317025,21.9,4.8,6.1,0.4
1,Hillingdon - Harefield,7399,55.8,78.3,82.3,19.245844,17.0,12.5,13.3,3.1
2,Westminster - Tachbrook,8158,33.3,82.2,83.1,10.750184,15.4,21.8,41.1,15.1
3,Merton - Village,8491,49.7,82.6,86.3,19.102579,19.3,17.1,34.0,8.3
4,Merton - Hillside,8977,60.0,81.0,91.7,13.824217,13.7,21.7,41.6,11.3

In [81]:
merge2 = pd.merge(environment, socio)
merge2.head()

,Wardcode,Population2011Census,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold
0,00ANGQ,11201,117.7,0.0,23.7,3.6,9.4,0.6
1,00ANGA,11518,114.0,0.3,24.9,4.5,9.3,0.5
2,00ADGN,10800,44.2,0.7,1.1,2.9,22.1,1.3
3,00BEGH,12321,65.3,0.7,20.3,4.6,12.3,0.7
4,00BCFZ,12609,64.3,1.3,4.7,4.2,17.2,1.2

In [82]:
merged = pd.merge(merge1, merge2)

In [68]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556 entries, 0 to 555
Data columns (total 17 columns):
Wardname                556 non-null object
Population2011Census    556 non-null int64
GeneralFertilityRate    556 non-null float64
Malelifeexpectancy      556 non-null float64
Femalelifeexpectancy    556 non-null float64
Children                556 non-null float64
Greaterthan65           556 non-null float64
nonwhite                556 non-null float64
NotBorninUK             556 non-null float64
NotEnglishspeaking      556 non-null float64
Wardcode                556 non-null object
Crimerate               556 non-null float64
Openspace               556 non-null float64
hhSocialRented          556 non-null float64
JobSeekers              556 non-null float64
Noqual                  556 non-null float64
Carsperhousehold        556 non-null float64
dtypes: float64(14), int64(1), object(2)
memory usage: 78.2+ KB

In [69]:
merged.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,Wardcode,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold
0,Bromley - Darwin,5110,63.8,81.2,82.4,18.317025,21.9,4.8,6.1,0.4,00AFGQ,58.6,88.8,5.5,1.6,21.9,1.7
1,Hillingdon - Harefield,7399,55.8,78.3,82.3,19.245844,17.0,12.5,13.3,3.1,00ASGN,67.4,85.5,24.0,3.2,23.8,1.4
2,Westminster - Tachbrook,8158,33.3,82.2,83.1,10.750184,15.4,21.8,41.1,15.1,00BKGR,51.1,32.4,29.3,2.7,12.5,0.4
3,Merton - Village,8491,49.7,82.6,86.3,19.102579,19.3,17.1,34.0,8.3,00BAGQ,60.3,62.2,5.6,0.9,6.8,1.4
4,Merton - Hillside,8977,60.0,81.0,91.7,13.824217,13.7,21.7,41.6,11.3,00BAGE,52.0,5.7,9.9,1.2,6.4,0.8

In [71]:
merged.to_csv("/Users/nathankhadaroo/Desktop/task/Group/merged.csv")

Creating

# Preparing the machine learning model

- We will prepare two models for both male and female life expectancy. First the menz.

#### Male model

In [75]:
X = merged[["Femalelifeexpectancy","Greaterthan65", "Noqual", "Crimerate", "JobSeekers", "Openspace"]]
X.head()

,Femalelifeexpectancy,Greaterthan65,Noqual,Crimerate,JobSeekers,Openspace
0,82.4,21.9,21.9,58.6,1.6,88.8
1,82.3,17.0,23.8,67.4,3.2,85.5
2,83.1,15.4,12.5,51.1,2.7,32.4
3,86.3,19.3,6.8,60.3,0.9,62.2
4,91.7,13.7,6.4,52.0,1.2,5.7

In [112]:
rf_raw = RandomForestRegressor(n_estimators=150, max_features=3)
rf_raw.fit(X, merged["Malelifeexpectancy"])
Male_pred = rf_raw.predict(X)

- Adding results to dataset

In [156]:
df = pd.DataFrame(data=Male_pred, columns=["Male_pred"])
mergednew = pd.concat([merged, df], axis=1)
#mergednew

- Optimising parameters and calculating mse

In [145]:
param_grid = {"n_estimators": [5, 25, 50, 75, 100, 150],"max_features": [1, 2, 3, 4, 5, None]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, scoring="neg_mean_squared_error", cv=5, n_jobs=-1)
grid.fit(X, merged["Malelifeexpectancy"])

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': [5, 25, 50, 75, 100, 150], 'max_features': [1, 2, 3, 4, 5, None]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [148]:
grid_res = pd.DataFrame(grid.cv_results_)
grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["params"]

13    {'max_features': 3, 'n_estimators': 25}
Name: params, dtype: object

In [149]:
math.sqrt(-1*(grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["mean_test_score"]))

4.812920063700243

#### Female model

In [151]:
X = merged[["Malelifeexpectancy","Greaterthan65", "Noqual", "Crimerate", "JobSeekers", "Openspace"]]
rf_raw = RandomForestRegressor(n_estimators=150, max_features=3)
rf_raw.fit(X, merged["Femalelifeexpectancy"])
Female_pred = rf_raw.predict(X)

- Adding to dataframe

In [159]:
df = pd.DataFrame(data=Female_pred, columns=["Female_pred"])
mergednew = pd.concat([mergednew, df], axis=1)
#mergednew

- Optimising parameters and calculating mse

In [162]:
grid.fit(X, merged["Femalelifeexpectancy"])
grid_res = pd.DataFrame(grid.cv_results_)
grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["params"]

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

11    {'max_features': 2, 'n_estimators': 150}
Name: params, dtype: object

In [163]:
math.sqrt(-1*(grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["mean_test_score"]))

2.868716720260668

In [164]:
mergednew

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,Wardcode,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold,Male_pred,Female_pred,Female_pred
0,Bromley - Darwin,5110,63.8,81.2,82.4,18.317025,21.9,4.8,6.1,0.4,00AFGQ,58.6,88.8,5.5,1.6,21.9,1.7,80.672667,83.282667,83.282667
1,Hillingdon - Harefield,7399,55.8,78.3,82.3,19.245844,17.0,12.5,13.3,3.1,00ASGN,67.4,85.5,24.0,3.2,23.8,1.4,78.721333,82.992000,82.992000
2,Westminster - Tachbrook,8158,33.3,82.2,83.1,10.750184,15.4,21.8,41.1,15.1,00BKGR,51.1,32.4,29.3,2.7,12.5,0.4,81.465333,83.646667,83.646667
3,Merton - Village,8491,49.7,82.6,86.3,19.102579,19.3,17.1,34.0,8.3,00BAGQ,60.3,62.2,5.6,0.9,6.8,1.4,82.333333,86.846000,86.846000
4,Merton - Hillside,8977,60.0,81.0,91.7,13.824217,13.7,21.7,41.6,11.3,00BAGE,52.0,5.7,9.9,1.2,6.4,0.8,82.134000,89.690667,89.690667
5,Merton - Lower Morden,9090,67.7,80.1,86.6,19.185919,15.2,21.9,22.1,5.9,00BAGH,36.5,34.3,4.1,3.1,20.9,1.3,80.158000,85.760667,85.760667
6,Kingston upon Thames - Alexandra,9246,55.1,80.8,84.4,20.863076,14.8,29.8,27.2,8.2,00AXFX,49.2,43.5,4.9,2.1,15.8,1.4,80.642667,84.379333,84.379333
7,Merton - Cannon Hill,9249,66.9,79.7,83.6,17.731647,15.8,25.4,29.6,7.7,00BAFY,40.6,42.7,5.5,2.9,17.0,1.2,79.922667,83.741333,83.741333
8,Merton - Dundonald,9275,77.3,80.0,90.1,16.485175,9.8,18.1,35.6,7.3,00BAGB,79.0,15.2,3.7,1.4,7.8,0.8,81.034000,88.575333,88.575333
9,Westminster - Warwick,9369,40.7,80.7,95.1,10.716192,11.3,24.0,43.9,15.9,00BKGT,162.0,4.0,28.2,4.0,9.4,0.5,82.286667,92.168667,92.168667
10,Richmond upon Thames - Hampton North,9387,47.3,80.7,87.3,19.250027,15.7,16.3,20.1,5.4,00BDGB,64.2,28.2,22.5,2.9,17.6,1.2,80.941333,86.363333,86.363333
11,Kingston upon Thames - Old Malden,9431,62.6,82.4,85.9,19.870639,15.7,30.8,27.3,8.4,00AXGH,34.0,21.6,9.1,2.3,15.7,1.4,81.873333,85.774667,85.774667
12,Kingston upon Thames - Berrylands,9437,60.4,78.4,83.9,16.922751,14.9,18.1,24.1,6.9,00AXFY,34.1,10.8,17.4,2.4,11.9,1.0,78.988000,83.324667,83.324667
13,Merton - Merton Park,9485,57.1,84.5,88.5,19.504481,14.6,29.2,35.5,10.1,00BAGJ,69.5,18.9,3.9,2.5,11.5,1.0,83.701333,87.990667,87.990667
14,Kingston upon Thames - Tudor,9578,61.7,82.5,86.4,22.937983,13.6,17.6,23.9,6.1,00AXGN,42.7,22.7,7.5,1.9,10.1,1.2,82.490000,86.186000,86.186000
15,Sutton - Sutton South,9599,85.8,77.2,81.7,14.876550,17.5,24.4,29.4,9.7,00BFGP,43.5,8.1,11.9,3.5,15.7,0.9,89.082667,81.997333,81.997333
16,Westminster - Churchill,9618,46.0,74.6,81.9,20.128925,12.8,39.4,44.4,17.4,00BKGD,107.2,22.2,49.8,6.8,19.1,0.4,75.604000,82.006667,82.006667
17,Lambeth - Bishop's,9675,38.2,78.0,84.0,11.452196,8.7,42.0,43.0,13.7,00AYFZ,311.9,31.6,41.8,6.9,14.5,0.4,77.576000,84.297333,84.297333
18,Merton - Raynes Park,9738,82.3,80.0,83.8,19.172315,13.7,19.8,33.4,8.7,00BAGM,48.3,24.4,10.7,1.8,9.7,1.0,80.370000,84.253333,84.253333
19,Kingston upon Thames - Coombe Vale,9750,51.4,80.2,85.3,21.241026,13.3,33.4,33.5,11.1,00AXGE,36.4,11.0,6.9,1.8,11.7,1.2,80.576000,85.644667,85.644667
20,Richmond upon Thames - Whitton,9752,76.8,79.7,85.8,19.339623,16.3,21.5,23.3,6.7,00BDGP,57.0,21.3,9.8,2.8,17.0,1.2,80.492667,85.156667,85.156667
21,Merton - Trinity,9798,93.8,80.6,83.9,16.932027,8.2,22.2,36.1,9.8,00BAGP,117.0,15.7,11.9,2.8,9.2,0.8,79.810667,85.056667,85.056667
22,Bromley - Shortlands,9824,48.2,83.0,87.9,18.526059,19.7,15.6,16.0,3.6,00AFHA,26.6,3.1,6.2,1.7,12.1,1.3,83.578667,87.478000,87.478000
23,Merton - West Barnes,9862,82.0,82.9,82.4,20.442101,13.4,30.0,33.7,9.3,00BAGR,57.7,32.3,5.2,2.4,13.9,1.1,81.956667,83.422000,83.422000
24,Bromley - Biggin Hill,9951,60.0,82.2,86.2,18.952869,16.3,4.1,5.1,0.5,00AFGE,43.4,71.4,4.6,2.8,18.3,1.7,81.782667,85.936667,85.936667
25,Merton - Ravensbury,9968,93.2,78.0,81.4,21.247994,13.5,38.9,36.0,13.1,00BAGL,75.9,37.8,25.1,6.8,23.7,0.9,77.597333,82.128000,82.128000
26,Richmond upon Thames - Hampton,9985,78.5,81.1,86.6,19.339009,15.8,11.3,16.7,4.0,00BDGA,56.6,74.7,13.8,1.7,12.5,1.2,81.296667,85.844000,85.844000
27,Richmond upon Thames - South Twickenham,9987,74.1,82.5,87.0,18.474016,10.3,9.7,18.8,4.0,00BDGK,41.4,26.7,6.6,1.3,6.4,1.1,82.747333,86.682667,86.682667
28,Richmond upon Thames - South Twickenham,9987,74.1,82.5,87.0,18.474016,10.3,9.7,18.8,4.0,00AFGU,91.1,44.4,31.9,7.3,26.0,1.0,81.088667,87.029333,87.029333
29,Westminster - Vincent Square,9988,39.0,80.3,90.4,14.487385,12.6,29.3,44.6,17.0,00BKGS,92.5,30.0,34.5,4.3,11.7,0.4,80.512000,88.336667,88.336667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,Brent - Stonebridge,16903,72.6,75.1,87.9,28.190262,8.7,76.5,48.8,17.2,00AEHA,119.9,16.3,62.3,13.7,25.9,0.6,75.899333,84.767333,84.767333
527,Brent - Kilburn,16989,81.4,76.2,84.2,18.600271,8.6,50.0,48.1,18.4,00AEGT,123.3,11.2,45.0,13.3,17.1,0.4,75.950667,83.882000,83.882000
528,Croydon - Waddon,17077,74.1,74.8,80.1,22.275575,11.0,44.6,30.1,8.9,00AHHC,93.8,32.6,25.5,6.8,19.1,0.8,75.318667,81.184667,81.184667
529,Barnet - Colindale,17098,68.6,76.4,84.6,22.230670,8.4,59.9,52.7,23.2,00ACGA,68.8,20.8,34.3,4.8,18.0,0.8,77.005333,83.567333,83.567333
530,Lewisham - Brockley,17156,53.0,75.0,80.1,15.248310,6.5,43.1,36.8,10.5,00AZGF,118.9,13.5,30.1,8.4,11.8,0.5,75.418667,81.112000,81.112000
531,Brent - Harlesden,17162,106.9,71.9,80.6,25.865284,8.0,67.0,52.9,23.0,00AEGQ,189.6,8.9,44.0,23.4,24.1,0.5,72.861333,80.594000,80.594000
532,Lambeth - Larkhall,17243,38.8,74.0,79.2,16.656034,6.2,43.3,42.2,13.0,00AYGJ,113.7,20.0,41.4,7.3,13.9,0.4,74.932667,80.067333,80.067333
533,Barnet - Coppetts,17250,72.5,76.7,81.1,19.710145,10.3,35.0,36.1,13.6,00ACGB,85.4,40.3,13.4,4.9,15.0,1.0,77.017333,81.942667,81.942667
534,Newham - Forest Gate South,17362,61.8,74.6,77.2,19.410206,6.5,68.2,54.8,25.5,00BBGL,111.2,2.2,26.4,9.8,17.6,0.6,74.078000,78.817333,78.817333
535,Enfield - Upper Edmonton,17374,88.4,75.4,76.7,25.843214,9.2,58.0,48.4,22.7,00AKHG,125.1,17.6,29.8,11.7,28.3,0.8,74.642000,78.362667,78.362667
536,Barnet - West Hendon,17402,85.8,78.2,84.3,19.808068,11.4,50.6,53.6,24.7,00ACGS,120.5,32.0,16.8,5.0,17.8,0.9,78.384667,83.750667,83.750667
537,Barnet - Hale,17437,90.5,81.2,83.8,23.106039,13.4,40.6,35.7,11.7,00ACGJ,57.6,48.8,13.6,4.1,17.8,1.2,81.040667,84.278667,84.278667
538,Lewisham - Lewisham Central,17446,67.4,71.4,77.6,18.330849,8.4,51.6,41.2,12.4,00AZGQ,185.1,13.6,27.4,8.2,16.1,0.5,72.599333,79.024000,79.024000
539,Croydon - West Thornton,17489,81.5,77.6,82.5,25.050031,9.5,76.5,46.5,15.1,00AHHD,112.2,17.7,15.7,7.9,17.9,0.8,77.088667,82.650667,82.650667
540,Greenwich - Woolwich Common,17499,100.5,73.9,85.4,26.910109,5.9,57.6,41.8,13.6,00ALHF,105.3,39.4,50.0,13.4,21.8,0.6,74.875333,83.503333,83.503333
541,Barnet - Woodhouse,17575,57.8,78.6,81.1,18.748222,13.6,37.6,41.0,16.2,00ACGT,92.8,19.3,11.5,4.5,15.7,1.0,78.434000,82.191333,82.191333
542,Ealing - Greenford Broadway,17625,93.5,77.4,81.2,23.443972,11.0,57.3,48.6,22.2,00AJGK,113.5,26.2,23.4,7.6,21.9,0.9,76.856667,81.685333,81.685333
543,Enfield - Edmonton Green,17949,124.1,74.8,79.6,27.973703,8.4,60.6,46.8,21.4,00AKGQ,147.7,33.2,43.1,19.6,30.5,0.6,74.716000,79.888000,79.888000
544,Croydon - Selhurst,18087,77.3,73.9,78.9,24.553547,8.7,65.6,40.1,11.5,00AHGW,140.2,18.3,27.1,9.9,18.9,0.6,74.026000,79.896667,79.896667
545,Greenwich - Glyndon,18171,91.0,73.2,77.4,22.860602,7.1,55.0,42.2,13.8,00ALGX,65.6,32.6,41.4,10.5,21.4,0.6,73.931333,78.425333,78.425333
546,Barnet - Burnt Oak,18217,94.3,74.7,82.1,24.581435,9.3,53.5,47.1,19.3,00ACFY,67.8,20.2,35.5,6.9,23.6,0.8,75.386000,82.320000,82.320000
547,Barnet - Mill Hill,18451,63.8,80.7,86.6,22.817191,13.1,36.1,34.4,10.2,00ACGM,82.4,59.0,12.8,3.8,14.0,1.3,80.830667,85.513333,85.513333
548,Barnet - Hendon,18472,88.4,80.1,85.3,20.084452,11.9,36.3,48.2,20.3,00ACGK,81.9,16.4,12.1,4.7,13.5,1.0,79.914000,85.168000,85.168000
549,Croydon - Broad Green,18652,83.8,75.3,83.8,25.761312,7.1,68.6,46.2,16.9,00AHGH,219.7,4.5,27.5,8.3,20.2,0.7,75.790667,83.866000,83.866000
550,Ealing - East Acton,18706,62.3,80.1,85.6,19.250508,8.2,50.1,54.4,22.4,00AJGH,144.3,19.6,22.1,7.8,15.0,0.7,78.776667,85.430667,85.430667
551,Barnet - Golders Green,18818,98.7,78.3,84.2,27.186736,12.0,34.2,45.8,17.5,00ACGH,83.3,14.6,13.3,4.5,16.4,1.0,78.877333,83.975333,83.975333
552,Greenwich - Woolwich Riverside,19120,84.4,73.8,80.2,23.629707,6.2,49.0,39.4,13.3,00ALHG,137.4,34.9,50.0,10.4,19.9,0.5,74.508667,80.190667,80.190667
553,Greenwich - Thamesmead Moorings,19730,122.5,74.3,77.5,28.646731,4.7,57.6,41.8,12.1,00ALHE,94.5,55.5,38.0,9.3,18.7,0.7,74.857333,79.958667,79.958667
554,Barnet - Childs Hill,20049,69.0,77.4,82.0,19.173026,12.4,38.9,51.2,23.0,00ACFZ,107.1,15.1,12.5,6.2,13.7,0.8,77.136667,82.149333,82.149333
555,Tower Hamlets - Millwall,23084,58.1,83.6,95.0,15.560561,3.5,47.6,52.1,23.4,00BGGG,86.5,35.0,20.6,5.1,11.4,0.5,82.852667,91.868000,91.868000

# Visualising results