# The group task

- Loading packages

In [170]:
import numpy as np
from scipy.stats import norm
import pandas as pd
import matplotlib.pyplot as plt
import pyreadstat
import math
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# To display the graphs here
%matplotlib inline

- Importing the data

In [171]:
health = pd.read_sas("/Users/nathankhadaroo/Desktop/task/Group/london ward data health.sas7bdat", format='sas7bdat', encoding='latin1')
environment = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/London ward data environment.csv")
district_codes = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/LondonDistrictcodes.csv")
demo = pd.read_table("/Users/nathankhadaroo/Desktop/task/Group/London ward data demographics.dat")
socio  = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/lsd.csv")
lol = pd.read_csv("/Users/nathankhadaroo/Desktop/task/Group/lol_rn1.csv")

In [172]:
wards = lol[["Wardname", "Wardname_rn"]]
wards.head()

                  Wardname Wardname_rn
0         Bromley - Darwin      Darwin
1   Hillingdon - Harefield   Harefield
2  Westminster - Tachbrook   Tachbrook
3         Merton - Village     Village
4        Merton - Hillside    Hillside

In [173]:
district_codes.head(n=50)

                  District Districtcode
0     Barking and Dagenham         00AB
1                   Barnet         00AC
2                   Bexley         00AD
3                    Brent         00AE
4                  Bromley         00AF
5                   Camden         00AG
6                  Croydon         00AH
7                   Ealing         00AJ
8                  Enfield         00AK
9                Greenwich         00AL
10                 Hackney         00AM
11  Hammersmith and Fulham         00AN
12                Haringey         00AP
13                  Harrow         00AQ
14                Havering         00AR
15              Hillingdon         00AS
16                Hounslow         00AT
17               Islington         00AU
18  Kensington and Chelsea         00AW
19    Kingston upon Thames         00AX
20                 Lambeth         00AY
21                Lewisham         00AZ
22                  Merton         00BA
23                  Newham         00BB
24               Redbridge         00BC
25    Richmond upon Thames         00BD
26               Southwark         00BE
27                  Sutton         00BF
28           Tower Hamlets         00BG
29          Waltham Forest         00BH
30              Wandsworth         00BJ
31             Westminster         00BK

In [200]:
demo.head(n = 500)

,Wardname,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking
0,Hackney - Queensbridge,17.542063,8.2,44.7,38.3,11.8
1,Hammersmith & Fulham - S&s End,17.915361,8.4,30.6,39.0,11.8
2,Barking & Dagenham - River,26.851598,10.1,38.4,30.9,9.6
3,Tower Hamlets - Bethnal Green North,18.555872,7.0,49.4,38.7,15.0
4,Merton - Abbey,15.731861,8.5,26.6,38.3,12.5
5,Richmond upon Thames - South Richmond,16.552680,14.0,13.1,33.0,8.5
6,Lambeth - Larkhall,16.656034,6.2,43.3,42.2,13.0
7,Greenwich - Plumstead,23.356836,8.6,55.4,41.7,14.6
8,Hillingdon - Heathrow Villages,20.821379,9.4,50.0,43.2,17.1
9,Lambeth - Streatham Hill,18.320129,8.4,37.9,37.8,12.4
10,Havering - Gooshays,23.237136,12.9,12.8,10.7,2.6
11,Croydon - Broad Green,25.761312,7.1,68.6,46.2,16.9
12,Hillingdon - West Ruislip,17.858826,16.8,18.0,18.4,3.9
13,Ealing - North Greenford,20.288181,11.4,56.4,51.4,22.1
14,Lewisham - Lewisham Central,18.330849,8.4,51.6,41.2,12.4
15,Hillingdon - Hillingdon East,23.113281,11.9,34.4,23.3,6.4
16,Wandsworth - Southfields,18.503937,7.7,24.4,34.8,9.0
17,Hounslow - Heston West,22.969931,10.3,76.2,51.1,23.9
18,Sutton - Sutton West,18.071374,13.9,23.0,25.1,7.8
19,Merton - Dundonald,16.485175,9.8,18.1,35.6,7.3
20,Haringey - West Green,19.742746,9.5,47.8,54.6,25.9
21,Hounslow - Heston Central,20.841471,10.9,76.6,54.7,23.9
22,Barnet - Underhill,20.571788,16.2,27.3,25.4,6.9
23,Sutton - Sutton Central,18.757391,11.5,24.1,26.9,99.7
24,Bexley - Lesnes Abbey,20.923674,15.6,31.0,23.3,5.0
25,Hammersmith & Fulham - Hammersmith Broadway,15.960748,10.1,33.9,40.5,13.4
26,Southwark - Brunswick Park,19.659936,7.1,53.3,40.6,10.7
27,Redbridge - Clementswood,26.639847,7.4,84.2,55.6,25.1
28,Islington - Barnsbury,14.884026,9.4,28.9,35.5,10.9
29,Croydon - Shirley,20.628148,16.7,30.9,19.7,3.9
...,...,...,...,...,...,...
470,Hounslow - Chiswick Riverside,18.755956,11.8,19.1,30.3,8.9
471,Sutton - Carshalton Central,19.065644,13.7,13.7,15.0,3.7
472,Richmond upon Thames - Whitton,19.339623,16.3,21.5,23.3,6.7
473,Ealing - Southfield,17.307407,10.0,20.8,36.2,10.7
474,Brent - Kilburn,18.600271,8.6,50.0,48.1,18.4
475,Hammersmith & Fulham - Avonmore & Brook Green,12.352652,10.2,35.5,52.2,20.4
476,Barnet - Childs Hill,19.173026,12.4,38.9,51.2,23.0
477,Haringey - Bruce Grove,22.460816,8.4,55.9,55.5,23.5
478,Merton - Lower Morden,19.185919,15.2,21.9,22.1,5.9
479,Barnet - Coppetts,19.710145,10.3,35.0,36.1,13.6
480,Barking & Dagenham - Heath,26.274801,12.7,32.3,24.1,6.2
481,Barnet - Colindale,22.230670,8.4,59.9,52.7,23.2
482,Enfield - Southgate,18.839076,14.1,31.6,33.2,11.7
483,Havering - Hacton,16.587832,19.7,7.3,7.3,1.7
484,Wandsworth - Thamesfield,15.173157,8.8,12.3,31.4,5.8
485,Westminster - Westbourne,21.819892,9.5,52.8,51.5,24.1
486,Ealing - Southall Green,22.326634,8.2,91.4,63.3,36.7
487,Camden - Bloomsbury,7.133676,10.0,40.4,51.2,19.5
488,Richmond upon Thames - Teddington,18.935140,13.6,8.9,17.8,4.1
489,Kingston upon Thames - Old Malden,19.870639,15.7,30.8,27.3,8.4
490,Sutton - Beddington North,20.690659,13.3,23.5,16.6,3.8
491,Barnet - West Hendon,19.808068,11.4,50.6,53.6,24.7
492,Enfield - Winchmore Hill,18.421249,14.9,23.8,27.0,8.1
493,Lewisham - Brockley,15.248310,6.5,43.1,36.8,10.5
494,Greenwich - Glyndon,22.860602,7.1,55.0,42.2,13.8
495,Lambeth - Streatham Wells,19.327787,8.3,43.1,41.2,14.2
496,Hammersmith & Fulham - North End,12.572267,6.6,34.2,47.9,19.4
497,Lewisham - Bellingham,25.157360,10.2,51.3,29.6,6.2
498,Croydon - Coulsdon West,20.105584,15.3,25.2,16.9,2.4
499,Richmond upon Thames - Barnes,20.400039,14.7,14.3,32.2,8.3

In [175]:
environment.head()

  Wardcode  Population2011Census  Crimerate  Openspace
0   00ANGQ                 11201      117.7        0.0
1   00ANGA                 11518      114.0        0.3
2   00ADGN                 10800       44.2        0.7
3   00BEGH                 12321       65.3        0.7
4   00BCFZ                 12609       64.3        1.3

In [176]:
socio.head()

  Wardcode  hhSocialRented  JobSeekers  Noqual  Carsperhousehold
0   00ABFX            26.7         8.7    16.4               0.5
1   00ABFY            36.8        10.2    31.2               0.8
2   00ABFZ            29.4        10.2    28.0               0.9
3   00ABGB            20.0         8.8    29.9               1.1
4   00ABGC            37.4        10.2    28.9               0.8

In [177]:
health.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy
0,Bromley - Darwin,5110.0,63.8,81.2,82.4
1,Kensington and Chelsea - Royal Hospital,7252.0,52.3,80.5,89.6
2,Hillingdon - Harefield,7399.0,55.8,78.3,82.3
3,Hammersmith and Fulham - Palace Riverside,7483.0,40.0,80.9,89.0
4,Kensington and Chelsea - Pembridge,7659.0,40.4,82.1,85.7

In [178]:
health.loc[health["Malelifeexpectancy"] > 100, ["Wardname", "Malelifeexpectancy"]].head()

                     Wardname  Malelifeexpectancy
68  Sutton - Wallington South               178.0

In [179]:
#health = health.drop(68, axis = 0)
#health["Malelifeexpectancy"].mean()
health.at[68,'Malelifeexpectancy']= 78.54
health.head(n=70)

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy
0,Bromley - Darwin,5110.0,63.8,81.20,82.4
1,Kensington and Chelsea - Royal Hospital,7252.0,52.3,80.50,89.6
2,Hillingdon - Harefield,7399.0,55.8,78.30,82.3
3,Hammersmith and Fulham - Palace Riverside,7483.0,40.0,80.90,89.0
4,Kensington and Chelsea - Pembridge,7659.0,40.4,82.10,85.7
5,Kensington and Chelsea - Cremorne,7964.0,51.8,83.20,89.7
6,Westminster - Tachbrook,8158.0,33.3,82.20,83.1
7,Kensington and Chelsea - Campden,8178.0,51.5,82.20,85.0
8,Kensington and Chelsea - Stanley,8187.0,48.2,81.20,82.8
9,Kensington and Chelsea - Colville,8377.0,53.3,78.00,88.4
10,Merton - Village,8491.0,49.7,82.60,86.3
11,Kensington and Chelsea - Norland,8675.0,73.9,87.00,88.6
12,Kingston upon Thames - Chessington North and Hook,8741.0,58.9,79.00,87.4
13,Kensington and Chelsea - Hans Town,8792.0,48.2,98.10,92.3
14,Kensington and Chelsea - Brompton,8839.0,47.3,84.80,90.5
15,Kensington and Chelsea - Courtfield,8933.0,49.6,83.50,92.2
16,Kensington and Chelsea - Golborne,8937.0,51.9,85.80,86.0
17,Kingston upon Thames - St. James,8969.0,74.1,79.10,83.9
18,Merton - Hillside,8977.0,60.0,81.00,91.7
19,Merton - Lower Morden,9090.0,67.7,80.10,86.6
20,Kensington and Chelsea - Earl's Court,9104.0,44.9,82.20,92.6
21,Hammersmith and Fulham - College Park and Old Oak,9175.0,46.5,74.40,83.1
22,Kensington and Chelsea - Redcliffe,9245.0,46.9,81.70,89.1
23,Kingston upon Thames - Alexandra,9246.0,55.1,80.80,84.4
24,Merton - Cannon Hill,9249.0,66.9,79.70,83.6
25,Westminster - Knightsbridge and Belgravia,9270.0,30.9,89.90,93.4
26,Merton - Dundonald,9275.0,77.3,80.00,90.1
27,Kensington and Chelsea - St. Charles,9343.0,59.5,78.90,82.3
28,Westminster - Warwick,9369.0,40.7,80.70,95.1
29,Richmond upon Thames - Hampton North,9387.0,47.3,80.70,87.3
...,...,...,...,...,...
40,Kingston upon Thames - Coombe Vale,9750.0,51.4,80.20,85.3
41,Richmond upon Thames - Whitton,9752.0,76.8,79.70,85.8
42,Kensington and Chelsea - Holland,9767.0,72.6,90.40,86.1
43,Merton - Trinity,9798.0,93.8,80.60,83.9
44,Merton - Graveney,9816.0,91.8,82.90,85.6
45,Bromley - Shortlands,9824.0,48.2,83.00,87.9
46,Kingston upon Thames - Tolworth and Hook Rise,9833.0,74.0,80.30,89.7
47,Barking and Dagenham - Parsloes,9839.0,94.1,76.80,81.8
48,Kensington and Chelsea - Queen's Gate,9847.0,50.7,94.50,86.6
49,Merton - West Barnes,9862.0,82.0,82.90,82.4
50,Barking and Dagenham - Valence,9867.0,101.1,72.60,78.0
51,Bromley - Biggin Hill,9951.0,60.0,82.20,86.2
52,Merton - Ravensbury,9968.0,93.2,78.00,81.4
53,Richmond upon Thames - Hampton,9985.0,78.5,81.10,86.6
54,Richmond upon Thames - South Twickenham,9987.0,74.1,82.50,87.0
55,Bromley - Mottingham and Chislehurst North,9987.0,70.0,76.60,81.2
56,Westminster - Vincent Square,9988.0,39.0,80.30,90.4
57,Kensington and Chelsea - Abingdon,10013.0,62.2,84.60,87.1
58,Barking and Dagenham - Chadwell Heath,10021.0,76.7,78.90,82.7
59,Merton - Longthornton,10024.0,74.1,78.20,84.0
60,Harrow - Pinner,10026.0,62.5,80.70,84.9
61,Sutton - Carshalton Central,10039.0,60.5,82.90,85.4
62,Sutton - Belmont,10048.0,65.5,78.60,82.1
63,Harrow - Headstone North,10093.0,47.6,81.30,85.4
64,Kingston upon Thames - Norbiton,10107.0,67.4,76.20,78.2
65,Kingston upon Thames - Beverley,10109.0,66.1,76.80,80.0
66,Richmond upon Thames - Fulwell and Hampton Hill,10131.0,69.6,78.40,80.7
67,Sutton - The Wrythe,10163.0,63.8,77.50,83.9
68,Sutton - Wallington South,10200.0,53.0,78.54,81.7
69,Westminster - Maida Vale,10210.0,71.6,87.60,88.8

In [180]:
merge1 = pd.merge(health, demo)
merge1['Population2011Census'] = merge1['Population2011Census'].astype(int)
merge1.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking
0,Bromley - Darwin,5110,63.8,81.2,82.4,18.317025,21.9,4.8,6.1,0.4
1,Hillingdon - Harefield,7399,55.8,78.3,82.3,19.245844,17.0,12.5,13.3,3.1
2,Westminster - Tachbrook,8158,33.3,82.2,83.1,10.750184,15.4,21.8,41.1,15.1
3,Merton - Village,8491,49.7,82.6,86.3,19.102579,19.3,17.1,34.0,8.3
4,Merton - Hillside,8977,60.0,81.0,91.7,13.824217,13.7,21.7,41.6,11.3

In [181]:
merge2 = pd.merge(environment, socio)
merge2.head()

,Wardcode,Population2011Census,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold
0,00ANGQ,11201,117.7,0.0,23.7,3.6,9.4,0.6
1,00ANGA,11518,114.0,0.3,24.9,4.5,9.3,0.5
2,00ADGN,10800,44.2,0.7,1.1,2.9,22.1,1.3
3,00BEGH,12321,65.3,0.7,20.3,4.6,12.3,0.7
4,00BCFZ,12609,64.3,1.3,4.7,4.2,17.2,1.2

In [182]:
merged = pd.merge(merge1, merge2)
merged = pd.merge(merged, wards)

In [183]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556 entries, 0 to 555
Data columns (total 18 columns):
Wardname                556 non-null object
Population2011Census    556 non-null int64
GeneralFertilityRate    556 non-null float64
Malelifeexpectancy      556 non-null float64
Femalelifeexpectancy    556 non-null float64
Children                556 non-null float64
Greaterthan65           556 non-null float64
nonwhite                556 non-null float64
NotBorninUK             556 non-null float64
NotEnglishspeaking      556 non-null float64
Wardcode                556 non-null object
Crimerate               556 non-null float64
Openspace               556 non-null float64
hhSocialRented          556 non-null float64
JobSeekers              556 non-null float64
Noqual                  556 non-null float64
Carsperhousehold        556 non-null float64
Wardname_rn             556 non-null object
dtypes: float64(14), int64(1), object(3)
memory usage: 82.5+ KB

In [184]:
merged.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,Wardcode,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold,Wardname_rn
0,Bromley - Darwin,5110,63.8,81.2,82.4,18.317025,21.9,4.8,6.1,0.4,00AFGQ,58.6,88.8,5.5,1.6,21.9,1.7,Darwin
1,Hillingdon - Harefield,7399,55.8,78.3,82.3,19.245844,17.0,12.5,13.3,3.1,00ASGN,67.4,85.5,24.0,3.2,23.8,1.4,Harefield
2,Westminster - Tachbrook,8158,33.3,82.2,83.1,10.750184,15.4,21.8,41.1,15.1,00BKGR,51.1,32.4,29.3,2.7,12.5,0.4,Tachbrook
3,Merton - Village,8491,49.7,82.6,86.3,19.102579,19.3,17.1,34.0,8.3,00BAGQ,60.3,62.2,5.6,0.9,6.8,1.4,Village
4,Merton - Hillside,8977,60.0,81.0,91.7,13.824217,13.7,21.7,41.6,11.3,00BAGE,52.0,5.7,9.9,1.2,6.4,0.8,Hillside

In [185]:
merged.to_csv("/Users/nathankhadaroo/Desktop/task/Group/merged.csv")

# Preparing the machine learning model

- We will prepare two models for both male and female life expectancy. First the menz.

#### Male model

In [186]:
X = merged[["Femalelifeexpectancy","Greaterthan65", "Noqual", "Crimerate", "JobSeekers", "Openspace"]]
X.head()

,Femalelifeexpectancy,Greaterthan65,Noqual,Crimerate,JobSeekers,Openspace
0,82.4,21.9,21.9,58.6,1.6,88.8
1,82.3,17.0,23.8,67.4,3.2,85.5
2,83.1,15.4,12.5,51.1,2.7,32.4
3,86.3,19.3,6.8,60.3,0.9,62.2
4,91.7,13.7,6.4,52.0,1.2,5.7

In [187]:
rf_raw = RandomForestRegressor(n_estimators=150, max_features=3)
rf_raw.fit(X, merged["Malelifeexpectancy"])
Male_pred = rf_raw.predict(X)

- Adding results to dataset

In [188]:
df = pd.DataFrame(data=Male_pred, columns=["Male_pred"])
mergednew = pd.concat([merged, df], axis=1)
#mergednew

- Optimising parameters and calculating mse

In [189]:
param_grid = {"n_estimators": [5, 25, 50, 75, 100, 150],"max_features": [1, 2, 3, 4, 5, None]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, scoring="neg_mean_squared_error", cv=5, n_jobs=-1)
grid.fit(X, merged["Malelifeexpectancy"])

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': [5, 25, 50, 75, 100, 150], 'max_features': [1, 2, 3, 4, 5, None]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [190]:
grid_res = pd.DataFrame(grid.cv_results_)
grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["params"]

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

9    {'max_features': 2, 'n_estimators': 75}
Name: params, dtype: object

In [191]:
math.sqrt(-1*(grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["mean_test_score"]))

2.2957903987750954

#### Female model

In [192]:
X = merged[["Malelifeexpectancy","Greaterthan65", "Noqual", "Crimerate", "JobSeekers", "Openspace"]]
rf_raw = RandomForestRegressor(n_estimators=150, max_features=3)
rf_raw.fit(X, merged["Femalelifeexpectancy"])
Female_pred = rf_raw.predict(X)

- Adding to dataframe

In [193]:
df = pd.DataFrame(data=Female_pred, columns=["Female_pred"])
mergednew = pd.concat([mergednew, df], axis=1)
#mergednew

- Optimising parameters and calculating mse

In [194]:
grid.fit(X, merged["Femalelifeexpectancy"])
grid_res = pd.DataFrame(grid.cv_results_)
grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["params"]

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

10    {'max_features': 2, 'n_estimators': 100}
Name: params, dtype: object

In [195]:
math.sqrt(-1*(grid_res[grid_res["mean_test_score"] == grid_res["mean_test_score"].max()]["mean_test_score"]))

2.898685599549556

In [196]:
mergednew = mergednew.rename(columns={"Wardname_rn": "Ward", "Wardname": "Bourough"})
mergednew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556 entries, 0 to 555
Data columns (total 20 columns):
Bourough                556 non-null object
Population2011Census    556 non-null int64
GeneralFertilityRate    556 non-null float64
Malelifeexpectancy      556 non-null float64
Femalelifeexpectancy    556 non-null float64
Children                556 non-null float64
Greaterthan65           556 non-null float64
nonwhite                556 non-null float64
NotBorninUK             556 non-null float64
NotEnglishspeaking      556 non-null float64
Wardcode                556 non-null object
Crimerate               556 non-null float64
Openspace               556 non-null float64
hhSocialRented          556 non-null float64
JobSeekers              556 non-null float64
Noqual                  556 non-null float64
Carsperhousehold        556 non-null float64
Ward                    556 non-null object
Male_pred               556 non-null float64
Female_pred             556 non-null float64
dtypes: float64(16), int64(1), object(3)
memory usage: 91.2+ KB

# Visualising results

In [197]:
nr = mergednew.groupby(["Ward"])\
       [["Malelifeexpectancy", "Male_pred", "Femalelifeexpectancy", "Female_pred"]]\
       .mean()

In [198]:
nr.head(n=100)

,Malelifeexpectancy,Male_pred,Femalelifeexpectancy,Female_pred
Ward,,,,
Abbey,80.000000,79.150667,81.000000,82.829333
Abbey Road,81.500000,81.238000,85.100000,85.208667
Abbey Wood,74.300000,75.032667,81.100000,80.962667
Acton Central,81.300000,79.966000,90.700000,89.018667
Addiscombe,76.800000,77.116667,81.400000,82.084000
Aldborough,77.400000,77.922000,82.200000,83.039333
Alexandra,80.000000,79.988333,83.950000,84.196000
Alperton,76.700000,77.408667,87.000000,85.192000
Ashburton,78.500000,78.490667,82.300000,82.761333
Balham,79.300000,80.150000,84.400000,84.538000
Barkingside,81.000000,80.744667,85.700000,85.588333
Barnehurst,78.600000,78.956667,85.800000,84.704000
Barnes,82.300000,81.784667,84.800000,84.848000
Barnhill,76.933333,77.042667,82.566667,82.632889
Barnsbury,75.000000,75.140667,79.500000,80.490667
Bayswater,91.600000,87.192667,85.100000,87.703333
Beckton,81.900000,80.576000,82.600000,84.217333
Beddington North,79.300000,79.430000,83.000000,83.401333
Beddington South,76.900000,77.465333,83.700000,83.249333
Bedfont,77.300000,77.216667,80.900000,82.141333
Bedford,78.200000,79.036000,82.600000,83.027333
Bellingham,75.200000,75.262667,79.100000,80.358000
Belmont,80.350000,80.457333,83.800000,84.084000
Belsize,82.300000,82.085333,83.900000,84.796000
Belvedere,77.900000,77.830667,82.500000,82.654667
Bensham Manor,80.900000,79.614000,84.300000,84.288000
Berrylands,78.400000,79.113333,83.900000,83.482000
Bethnal Green North,73.600000,74.171333,78.600000,79.434000
Bethnal Green South,77.100000,76.777333,87.300000,85.811333
Beverley,76.800000,76.994667,80.000000,81.206667
...,...,...,...,...
Catford South,77.400000,77.280000,81.400000,82.206000
Cathall,74.900000,75.188000,81.600000,81.619333
Cathedrals,75.000000,75.994667,93.300000,89.554667
Cavendish,80.600000,80.276000,84.000000,84.355333
Cazenove,74.400000,75.495333,86.700000,85.132000
Chadwell,77.900000,77.622667,81.800000,82.158000
Chapel End,75.800000,76.621333,86.700000,84.836667
Charlton,74.100000,74.963333,79.900000,80.551333
Charville,81.600000,80.964000,86.000000,86.084000
Chase,76.800000,77.033333,80.800000,81.861333
Chatham,72.500000,73.766667,81.400000,80.762000
Chaucer,88.500000,85.960000,97.500000,94.186000
Cheam,82.300000,81.550667,83.000000,83.672000
Chessington South,80.000000,80.226667,83.300000,83.736667
Childs Hill,77.400000,77.084000,82.000000,82.206667
Chingford Green,77.700000,78.271000,84.400000,84.071333
Chislehurst,81.200000,81.028667,83.000000,83.431333
Chiswick Homefields,78.700000,78.887333,83.600000,83.705667
Chiswick Riverside,85.400000,83.736667,82.200000,83.569667
Christchurch,77.800000,77.883867,80.900000,81.712000
Church End,81.400000,81.206667,84.600000,85.098667
Church Street,73.400000,73.872667,76.400000,77.574000
Churchill,74.600000,75.496000,81.900000,81.816667
Clapham Common,77.800000,78.049600,82.100000,82.722000
Clapham Town,75.500000,76.641333,81.700000,82.712667
Clayhall,84.000000,82.677333,85.400000,85.544667
Clementswood,76.700000,76.085333,81.200000,81.683333
Clerkenwell,77.600000,77.122667,84.900000,84.480000
Cleveland,76.800000,77.671333,85.900000,85.138000
Clissold,77.100000,76.963333,83.500000,82.970000